@mixin all-center {
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  &-center {
    @include all-center;
  }
}
.flex-column {
  display: flex;
  flex-direction: column;
  &-center {
    @include all-center;
  }
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}

.content-between {
  justify-content: space-between;
}
.content-around {
  justify-content: space-around;
}
.content-center {
  justify-content: center;
}
