* {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
body {
  color: #444;
  font-family: 'Noto Sans TC', 'Microsoft Jheng Hei', sans-serif;
  font-size: 14px;
}
