* {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
  &::selection {
    background: $primary;
    color: #fff;
  }
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
body {
  color: $text-normal;
  font-family: 'Noto Sans TC', 'Microsoft Jheng Hei', sans-serif;
  font-size: 14px;
}
