// /* width */
// ::-webkit-scrollbar {
//   width: 8px;
// }
// /* Track */
// ::-webkit-scrollbar-track {
//   border-radius: 10px;
//   border: 1px solid #eeee;
//   // background: #eee;
// }
// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #ddd;
//   border-radius: 10px;
// }
// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #ccc;
// }

ul::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff0;
  z-index: 99999;
}

ul::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  padding: 3px 0; // fix some plugin design of scroll area issue
  // background-color: #F5F5F5;
}

ul::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  // -webkit-border-radius: 4px;
  border-radius: 4px;
  // background-color: #fff;
  background-color: #21212020;
  z-index: 99999;
  // border: 1px solid #0002;
}
ul::-webkit-scrollbar-corner,
div::-webkit-scrollbar-corner {
  background-color: #0000;
}

.dark-background-scroll {
  &::-webkit-scrollbar-thumb {
    background-color: #fff5;
  }
}
